<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/VB-Eindopdracht/src/vb/eindopdracht/test/ASTtest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="vb.eindopdracht.test.ASTtest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-ast src/vb/eindopdracht/test/array/arrayfail01"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="VB-Eindopdracht"/>
</launchConfiguration>
